body {
	font-family:Monaco,Lucidia Console,Liberation Mono, DejaVu Sans Mono, serif;
	font-size: 1vmax;
	background-color: #1c1c1c;
	color: #aaaaaa;
	overflow-y:scroll;
	margin:4em;
	width:80%;
}

a {
	color:#b35050;
	text-decoration:none;
}
a:hover {
	color:#b4f;
}

header {
	color: #aaa;
	text-align:center;
}

header h1 {
	font-size: 3vmax;
}

.nav{
    padding-left:0;
    margin-bottom:0;
    list-style:outside none none
    text-align:center;
}
.nav::after{
    display:table;
    content:" ";
    clear:both
}
.nav>li{
    position:relative;
    display:block
}
.nav>li>a{
    position:relative;
    display:block;
    padding:10px 15px;
    border-bottom:1px solid #333
}
.nav>li>a:focus,.nav>li>a:hover{
    text-decoration:none;
    background-color:#171717;
    border-bottom:1px solid #b35050
}
.nav-tabs{
    border-bottom:1px solid #333;
    font-size: 1vmax;
}
.nav-tabs>li{
    float:left;
    margin-bottom:-1px
}
.nav-tabs>li>a{
    margin-right:2px;
    line-height:1.42857
}
.nav-tabs>li.active>a{
    cursor:default;
    border-bottom:1px solid #b35050
}
#gitlink {
	float:right
}
#rsslink {
	float:right
}
img{
    display:block;
    padding:8px;
    border-radius:4px;
    margin:auto;
    max-width:50%
}
